:root {
    --bs-warning: #F5A425;
    --bs-link-color: inherit;
    --bs-link-hover-color: var(--bs-warning);
    --bs-link-color-rgb: 245, 164, 37;
    --bs-link-hover-color-rgb: 245, 164, 37;
}

body {
    font-family: "poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.link-custom {
    color: #33ccff;
    text-decoration: none;
}

.link-custom:hover {
    color: var(--bs-warning);
}

section {
    padding-block: 100px;
}

#welcome {
    height: 100vh;
}

.overlay {
    position: relative;
    background: rgba(33, 37, 41, 0.75);
}

.overlay .video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#subnav {
    background-color: #1F272B;
    color: #fff;
    font-size: 13px;
}

.link-warning {
    color: inherit !important;
}

.navbar {
    margin-bottom: -68px;
    background-color: rgba(250, 250, 250, 0.15);
    color: #fff;
}

.navbar-bg {
    background-color: #fff;
    color: #000;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: bold;
}

.nav-item {
    padding: 0;
}

.nav-link {
    padding: 12px 14px !important;
    letter-spacing: 1px;
    font-size: 14px;
}

.nav-link:hover,
.nav-link.active,
.dropdown-toggle:hover,
.dropdown-toggle.active,
.dropdown-item:hover,
.dropdown-item.active {
    color: var(--bs-warning) !important;
}

.navbar-brand,
.nav-link,
.dropdown-item {
    text-transform: uppercase;
    color: inherit;
}

#services {
    margin-block: -150px;
}

.services-list {
    width: 100%;
    display: grid;
    gap: 30px;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}

.services-list::-webkit-scrollbar {
    display: none;
}

.services-item {
    scroll-snap-align: start;
    border-radius: 20px;
    background-image: url(../images/service-item-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.services-item img {
    width: 60px;
    height: 60px;
}

#meeting {
    padding-top: 250px;
    background-image: url(../images/meetings-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#apply {
    background-image: url(../images/apply-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-warning);
    background-color: transparent;
}

#course {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#fact {
    background-image: url(../images/facts-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* reponsive */
/* --bs-breakpoint-xs: 0;
--bs-breakpoint-sm: 576px;
--bs-breakpoint-md: 768px;
--bs-breakpoint-lg: 992px;
--bs-breakpoint-xl: 1200px;
--bs-breakpoint-xxl: 1400px */

@media (min-width: 576px) {
    .sm-hiden {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .md-hiden {
        opacity: 0;
    }

    .services-list {
        grid-auto-columns: 35%;
    }
}

@media (min-width: 992px) {
    .lg-hiden {
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .xl-hiden {
        opacity: 0;
    }
}

@media (min-width: 1440px) {
    .xxl-hiden {
        opacity: 0;
    }
}